body {
    background-color: #97D8C4;
    font-family: "Madimi One", sans-serif;
    padding: 30px;
    margin: 0;
    color: #B33F62;
    text-align: left;
  }

  button {
    background: none;
    border: none;
    font-size: 20px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:azure;


  }

  button:hover{
    color:#97D8C4
   }

  .content {
    padding: 10px;
    display:flex;
  }
.leftcontainer{
  padding:20px;
line-height:60px;
}
  .navi {
    background-color: #97b3d8;
    padding: 10px;
    text-align: right;
    font-size:30px;
    margin:0px;

  }


  h1 {
    text-align: center;
    color: #CE6A85;
    background-color: #97D8C4;
    font-size: 70px;
    font-family:"Permanent Marker", cursive;
    
    
  }

  p {
    font-family: Comic Sans MS
  }